/.github/ @domibron
/Assets/Programming/AudioClipSystem/ @domibron
/Assets/Programming/Checkpoints/ @domibron
/Assets/Programming/DamageIndicator/ @domibron
/Assets/Programming/DebugConsole/ @domibron
/Assets/Programming/Enemies/ @domibron
/Assets/Programming/Environment/FireAOE/ @domibron
/Assets/Programming/Environment/Lighting/ @domibron
/Assets/Programming/Environment/Trigger/ @domibron
/Assets/Programming/Environment/Turret/ @domibron
/Assets/Programming/HealthSystem/ @domibron
/Assets/Programming/Interfaces/IDamageable/ @domibron
/Assets/Programming/Interfaces/IShield/ @domibron
/Assets/Programming/Items/ @domibron
/Assets/Programming/LevelLoadingSystem/ @domibron
/Assets/Programming/Player/FireManager/ @domibron
/Assets/Programming/Player/InputAndMovement/ @domibron
/Assets/Programming/Player/CombatAndAbilities/ @domibron
/Assets/Programming/RingIndicator/ @domibron
/Assets/Programming/SubTagSystem/ @domibron
/Assets/Programming/UI/AI/ @domibron
/Assets/Programming/UI/FloatingTextSystem/ @domibron
/Assets/Programming/UI/Player/ @domibron
/Assets/Programming/UI/Util/ @domibron
/Assets/Programming/Util/FindNearPlayer/ @domibron
/Assets/Programming/Util/Fun/ @domibron
/Assets/Programming/Util/RefGetters/ @domibron
/Assets/Programming/Util/RemoveObject/ @domibron
/Assets/Programming/CameraShakeSystem/ @domibron
/DOMIBRON_CODE_LICENSE.md @domibron
/README.md @domibron
/Assets/Editor/BuildScript.cs @domibron
